<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="get">
<div class="form-inline">
    <input class="form-control" type="text" placeholder="Name" name="name" value="<%= searchOptions.name %>">
<button  class="btn btn-dark form-control" type="submit">Search</button>
</div>
</form>
<br>
<% authors.forEach( author => { %>
    <div><%= author.name %></div>
    <a href="/authors/<%= author.id %>">View</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    
    <%- include('../partials/deleteForm', 
    { url: `/authors/${ author.id}` }) %>
   
<% }) %>